
<div *ngIf="dataLoaded">
    <form #f="ngForm" (ngSubmit)="submitForm(f.value)">
        <div [class.id-notempty]="dev.id">
            <input name="id" [(ngModel)]="dev.id"                #n001="ngModel" readonly="readonly" pattern="{{dev.id}}">
            <div class="info" *ngIf="n001.invalid">Something went wrong!</div>
        </div>
        <input name="ipAddress" [(ngModel)]="dev.ipAddress"      #n002="ngModel" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" required>
        <div class="info" *ngIf="n002.invalid">Wrong IP address format</div>
        <input name="ipAddressv6" [(ngModel)]="dev.ipAddressv6"  #n003="ngModel" pattern="^(([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3}):){7}([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3})$">
        <div class="info" *ngIf="n003.invalid">Wrong IPv6 address format</div>
        <input name="country" [(ngModel)]="dev.country"          #n004="ngModel" pattern="[A-Za-z]{2}" minlength="2">
        <div class="info" *ngIf="n004.invalid">Wrong country code.</div>
        <input name="password" [(ngModel)]="dev.password"        #n005="ngModel">
        <input name="version" [(ngModel)]="dev.version"          #n006="ngModel">
        <button type="submit" *ngIf="!(n001.invalid || n002.invalid || n003.invalid || n004.invalid || n005.invalid || n006.invalid)">Send</button>
    </form>
   

</div>